<ion-view>
    <ion-nav-title>{{event.name}}</ion-nav-title>
    <ion-content>
        <div class="list card">
            <ion-spinner icon="spiral" ng-hide="loadCompleted"></ion-spinner>
            <div class="item">
                <h2>{{event.name}}</h2>
                <p>{{event.location}}</p>
                <p>{{event.start_date}} to {{event.end_date}}</p>
            </div>
            <div class="item item-body" ng-show="event.event_district_string">
                District <span>{{event.event_district_string}}</span>
            </div>
            <div class="item item-body" ng-show="event.venue_address">
                <span>{{event.venue_address}}</span>
            </div>
            <div class="item item-body" ng-show="event.event_code">
                Event Code: <span>{{event.event_code}}</span>
            </div>
            <div class="item item-body" ng-show="event.website">
                <a href="{{event.website}}">{{event.website}}</a>
            </div>

            <div class="item item-body">
                <ion-spinner icon="spiral" ng-hide="teams"></ion-spinner>
                <div ng-show="teams">
                    Team count: {{teams.length}}
                </div>
            </div>

            <div class="item item-body">
                <ion-spinner icon="spiral" ng-hide="matches"></ion-spinner>
                <div ng-show="matches">
                    Match count: {{matches.length}}
                </div>
            </div>


            <div class="card" ng-show="event && event.rankings && event.rankings.length">
                <div class="item item-divider">
                    Rankings
                </div>
                    <div class="row" ng-repeat="rankingArr in event.rankings">
                        <span class="col col-10" ng-repeat="ranking in rankingArr">
                            {{ranking}}
                        </span>
                </div>
            </div>


            <div class="card" ng-show="teams && teams.length">
                <div class="item item-divider">
                    Teams
                </div>
                <ion-list>
                    <ion-item ng-repeat="team in teams | orderBy: teamNumberInt" href="#/app/team-detail/{{team.key}}">
                        {{team.team_number}} {{team.nickname}}
                    </ion-item>
                </ion-list>
            </div>

    </ion-content>
</ion-view>
