<ion-view>
    <ion-nav-title>STEMpunks Stats</ion-nav-title>
    <ion-content>
        <div class="list card">
            <ion-spinner icon="spiral" ng-hide="loadCompleted"></ion-spinner>
            <a href="#/app/team-history-events/frc3966" class="item item-body" ng-show="team">Event History</a>
        </div>

        <div class="card" ng-show="events && events.length">
            <div class="item item-divider">
                Current Events
            </div>
            <ion-list>
                <ion-item ng-repeat="event in events | orderBy: start_date" href="#/app/event-detail/{{event.key}}">
                    <span>{{event.name}}</span> <span style="float: right;">{{event.start_date}}</span>
                    <ion-item ng-repeat="ranking in event.rankings">
                        <span>{{ranking}}</span>
                    </ion-item>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
