<ion-view>
    <ion-nav-title>Team {{team.team_number}}</ion-nav-title>
    <ion-content>
        <div class="list card">
            <ion-spinner icon="spiral" ng-hide="loadCompleted"></ion-spinner>
            <div class="item">
                <h2>{{team.name}}</h2>
                <p>{{team.location}}</p>
            </div>
            <div class="item item-body" ng-show="team.nickname">
                <span>{{team.nickname}}</span>
            </div>
            <div class="item item-body" ng-show="team.motto">
                <span>{{team.motto}}</span>
            </div>
            <div class="item item-body" ng-show="team.rookie_year">
                Rookie year: <span>{{team.rookie_year}}</span>
            </div>
            <div class="item item-body" ng-show="team.website">
                <a href="{{team.website}}">{{team.website}}</a>
            </div>
        </div>


        <div class="card" ng-show="events && events.length">
            <div class="item item-divider">
                Events
            </div>
            <ion-list>
                <ion-item ng-repeat="event in events | orderBy: start_date" href="#/app/event-detail/{{event.key}}">
                    <span>{{event.name}}</span> <span style="float: right;">{{event.start_date}}</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
